//overrides.scss

@import "../variables.scss";
// Variables
$light: $custom-tan;
$body: $custom-parchment;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";

$custom-colors: (
  "light": $custom-tan,
  "body": $custom-parchment,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$unprefixed-meta-map: (
  "light": $custom-tan,
  "body": $custom-parchment,
);
$theme-colors-text: map-merge($theme-colors-text, $unprefixed-meta-map);
$theme-colors-bg-subtle: map-merge(
  $theme-colors-bg-subtle,
  $unprefixed-meta-map
);

// Components
.container-fluid {
  padding: 0;
  margin: 0;
}
